.container {
  max-width: 1200px; /*tamanho maximo do containes*/
  box-sizing: border-box; /*tamanho não ultrapassa o max-width somando margens*/
  padding-left: 20px; /*distancia dos itens dentro do container lado esquerdo*/
  padding-right: 20px; /*distancia dos itens dentro do container lado direito*/
  margin-left: auto; /*quando for maior que 1400px centralixar*/
  margin-right: auto; /*quando for maior que 1400px centralizar*/
}

.botao {
  display: inline-block; /*quando o menu ficar abaixo do outro manter o tamanho padrão*/
  padding: 16px 32px; /*distancia da caixa do botão*/
  background: linear-gradient(#ffbf00, #f2a50c); /*cor do botão*/
  border-radius: 4px; /*borda arredondada*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /*sombra no botão*/
  text-transform: uppercase; /*letras maiusculas*/
  color: var(--cor-p5); /*cor do botão*/
  font: 600 1.125rem/1.35 "popins", sans-serif;
  max-width: max-content; /*tamanho maximo do conteudo dele*/
}
.botao:hover {
  background: linear-gradient(#ffb60d, #e59317); /*cor do botão*/
}
.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}
.botao.secundario:hover {
  background: var(--cor-9);
}
.link {
  display: inline-block; /*para pegar todos os paddings definidos*/
  color: var(--cor-p1); /*cor do link*/
  font: 500 1.5rem/1.5 "popins", sans-serif; /*peso da fonte, tamanho, altura da linha, tipo de fonte*/
  text-transform: uppercase; /*aumenta para capslock*/
}
.link::after {
  /*definindo o sublinhado*/
  content: ""; /*sempre em branco*/
  display: block; /*transforma em um bloco*/
  width: 100%; /*o tamanho do Pai que seria o nome escrito no link*/
  height: 4px; /*altura do sublinhado*/
  background-color: currentColor; /*vai definir a mesma cor que foi definido no PAI que seria o .link*/
}
.link:hover {
  color: var(--cor-0);
}
@media (max-width: 600px) {
  .botao {
    padding: 12px 16px; /*distancia da caixa do botão*/
    font-size: 1rem; /*tamanho da fonte do botão*/
  }
}

/*Titulos Interno*/
.titulo-bg {
  background-color: var(--cor-11); /*cor do funto*/
  padding-top: 60px; /*distancia do texto para o top*/
  padding-bottom: 60px; /*distancia do texto para o bottom*/
}
.titulo p {
  margin-bottom: 4px; /*distancia da caixa para o bottom*/
}
@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p {
    font-size: 1rem; /*tamanho da fonte*/
    text-transform: lowercase; /*fonte pequena*/
    font-weight: 400; /*peso da fonte*/
  }
}
