.vantagens-bg {
  background-color: var(--cor-12);
}
.vantagens {
  padding-top: 120px; /*distancia do top*/
  padding-bottom: 120px; /*distancia do bottom*/
}
.vantagens h2 {
  margin-bottom: 60px; /*distancia do bottom*/
}
.vantagens ul {
  display: grid; /*display grid para separar em colunas */
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, max-content)
  ); /*quantidade de colunas ajustavel, quando diminuir a pagina quebra automatico as colunas para que o texto encaixe no tamanho definido*/
  gap: 40px 80px; /*distancia de 40 para cima e baixo e 80 para os lados*/
}
.vantagens h3,
.vantagens img {
  margin-bottom: 8px; /*distancia entre o icone e o texto*/
}
@media (max-widht: 800px) {
  .vantagens {
    padding-top: 60px; /*distancia do top*/
    padding-bottom: 60px; /*distancia do bottom*/
  }
  .vantagens h2 {
    margin-bottom: 40px; /*distancia do bottom*/
  }
  .vantagens ul {
    gap: 20px;
  }
}
